{% extends 'base.html' %}

{% block head %}
<link href="../static/css/register.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container mt-4" style="margin: 0 2%;" >

</div>
    <div class="left-col">
                <h1> Форма авторизации </h1>
                <form class="card-body" method="POST">
                    {% if message1 %}
            <div class="text">{{ message1 }}</div>
            {% endif %}

            {{ form1.hidden_tag() }}

            {% for error in form1.login.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                {{ form1.login(class="form-control") }}
            </div>
                    <br>

            {% for error in form1.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                {{ form1.password(class="form-control") }}
            </div>
                    <br>


            {{ form1.submit() }}
                 </form>
            </div>
</div>

{% endblock %}